* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

div {
  height: 100vh; /*altura - vertical*/
  width: 100vw; /*largura - horizontal*/
  display: flex; /*alinhar itens*/
  align-items: center; /*alinhar na vertical*/
  justify-content: center; /*alinhar horizontal*/
}

section {
  margin-left: 50px;
}

h1 {
  color: #515151;
  font-size: 80px;
}

h2 {
  color: #515151;
  font-size: 45px;
  font-weight: 500;
}

p {
  color: #848484;
  font-size: 20px;
  width: 500px;
  margin-top: 30px;
}

button {
  background: orange;
  border-radius: 20.5px;
  color: black;
  font-size: 20px;
  width: 200px;
  height: 60px;
  border: none;
  font-weight: 900;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 50px;
  cursor: pointer;
}

button:hover {
  background: rgb(224, 162, 46);
  transition: 0.2s;
}

img {
  height: 380px; /*altura - vertical*/
  width: 500px; /*largura - horizontal*/
}

@media (max-width: 1050px) {
  img {
    height: 250px;
    width: 350px;
  }

  div {
    flex-direction: column; /*definir se fica um do lado do outro ou abaixo do outro(column)*/
  }

  section {
    margin: 0;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    display: none;
  }
}
